<!DOCTYPE html>
<html>
  <head>
    <title>Xavier Bike Shop Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

  	<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="\#">Bike Shop Blog</a>
                    <%= image_tag('2000px-Bicycle_with_Rider.png', :class => "img-responsive img-rounded", :style => 'max-width:250px') %>
                </li>

                <div class="sidebar-items">
                <% @latest_articles_nav.each do |article| %>
                <li class="sidebar-item">
                  <%= link_to article.title, article %>
                    <div class="sidebar-article-date">
                      <%= article.created_at.strftime("%d.%m.%Y") %>
                    </div></a>
                </li>
            
            		<% end %>
                </div>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Show Menu</a>

        <!-- Page Content -->
        <div id="page-content-wrapper">

          <div class="login">

            <% if user_signed_in? %>
                You are logged in as: <%= current_user.email %>
            <% end %>

            

              <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, class: "btn btn-default", :method => :delete) %>
              <% else %>
                <%= link_to('Login', new_user_session_path, class: "btn btn-default") %>
              <% end %>

            

          </div>

          <% if notice %>
          <br/>
          <p id="notice" class="alert alert-info"><%= notice %></p>
          <% end %>

          <% if alert %>
          <br/>
          <p id="alert" class="alert alert-danger"><%= alert %></p>
          <% end %>




			    <%= yield %>

        </div>
        <!-- /#page-content-wrapper -->

        <footer class="site-footer">
	  	&copy; 2016 Bike Shop Berlin - Our Blog
				</footer>

    </div>
    <!-- /#wrapper -->

  </body>

  <!-- Javascript files below -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
     <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</html>
